<div class="container" style="margin-top: 100px; margin-bottom: 100px">
  <div class="row">
    <div class="col-md-6" style="text-align: center">
      <a href="" class="btn"
        ><h2 style="color: rgb(0, 0, 0)">Apply Standard</h2></a
      >
      <h3>
        <span style="color: rgb(0, 0, 0); margin-top: 20px">Any Question?</span>
      </h3>
      <iframe
        src="//www.youtube.com/embed/z7yqtW4Isec"
        frameborder="0"
        width="70%"
        height="200"
        style="margin: 30px 0"
      ></iframe>
      <h2 style="color: rgb(0, 0, 0)">About e-Visa</h2>
      <p style="width: 60%; margin: auto; font-size: 15px; line-height: 25px">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vero
        quod a doloribus suscipit dolorum omnis maiores aspernatur eos. Non.
      </p>
    </div>
    <div class="col-md-6" style="text-align: center">
      <a href="" class="btn"><h2 style="color: rgb(0, 0, 0)">Easy Apply</h2></a>
      <h3>
        <span style="color: rgb(0, 0, 0); margin-top: 20px">Any Question?</span>
      </h3>
      <iframe
        src="//www.youtube.com/embed/z7yqtW4Isec"
        frameborder="0"
        width="70%"
        height="200"
        style="margin: 30px 0"
      ></iframe>
      <h2 style="color: rgb(0, 0, 0)">Contact Us</h2>
      <p style="width: 60%; margin: auto; font-size: 15px; line-height: 25px">
        support@evisaforturkey.com
      </p>
    </div>
  </div>
  <div style="text-align: center; margin-top: 50px; color: black">
    <a href=""><h2 style="font-size: 36px">Ready to visit Turkey?</h2></a>
  </div>
</div>
